apiVersion: v1
kind: Namespace
metadata:
  name: advancedchatbot
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: advancedchatbot
  namespace: advancedchatbot
  labels:
    app: advancedchatbot
spec:
  replicas: 2
  selector:
    matchLabels:
      app: advancedchatbot
  template:
    metadata:
      labels:
        app: advancedchatbot
    spec:
      containers:
        # -----------------------
        # MAIN APPLICATION
        # -----------------------
        - name: advancedchatbot
          image: gcr.io/advancedchatbot-479400/advancedchatbot:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 8000

          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: OPENAI_API_KEY

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_PASSWORD

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_NAME

          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 5

          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 5

        # -----------------------
        # CLOUD SQL PROXY
        # -----------------------
        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.11.0
          args:
            - "--port=5432"
            - "advancedchatbot-479400:us-east1:akanuchi-postgres"
          securityContext:
            runAsNonRoot: true
          ports:
            - containerPort: 5432

      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: advancedchatbot-service
  namespace: advancedchatbot
spec:
  type: LoadBalancer
  selector:
    app: advancedchatbot
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
