apiVersion: apps/v1
kind: Deployment
metadata:
  name: advancedchatbot
  namespace: advancedchatbot
  labels:
    app: advancedchatbot
spec:
  replicas: 2
  selector:
    matchLabels:
      app: advancedchatbot
  template:
    metadata:
      labels:
        app: advancedchatbot
    spec:
      containers:
        - name: advancedchatbot
          image: us-east4-docker.pkg.dev/advancedchatbot-479400/chatbot-docker-repo/advancedchatbot:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: OPENAI_API_KEY
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DB_NAME
            - name: DB_HOST
              value: 127.0.0.1
            - name: DB_PORT
              value: "5432"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10
          lifecycle:
            postStart:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - |
                    echo "Waiting for Cloud SQL Proxy..."
                    until nc -z 127.0.0.1 5432; do
                      sleep 1
                    done
                    echo "Cloud SQL Proxy is ready."
          resources:
            requests:
              cpu: 500m
              memory: 2Gi
              ephemeral-storage: 1Gi
            limits:
              cpu: 1
              memory: 3Gi
              ephemeral-storage: 1Gi
        - name: cloud-sql-proxy
          image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.11.0
          args:
            - --port=5432
            - advancedchatbot-479400:us-east1:akanuchi-postgres
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
              ephemeral-storage: 1Gi
            limits:
              cpu: 250m
              memory: 250Mi
              ephemeral-storage: 1Gi
      restartPolicy: Always
